## How this is going to work

#### Two CSVs in the folder

- One with all the staions in all the years with four seasons of data
- One with the stations, names, Lat/Long

When an update happens on the aurduino we will update a json that will send the following data to the website.

- Station Name
- Year
- Season
- Avg Temp
- Percipiation
- Lat of hte city
- Lng of the cit

We will use percipiation to run the pumps

We will use avg temp to run the LED

In [1]:
# Take each csv
# Group by stn, month, year
# Average 3 months into one season

import pandas as pd
import numpy as np

In [5]:
stations = pd.read_csv("stations.csv")
stations = stations.set_index("name")

seasons = { 1:"Winter",
            2:"Winter",
            3:"Spring",
            4:"Spring",
            5:"Spring",
            6:"Summer",
            7:"Summer",
            8:"Summer",
            9:"Fall",
            10:"Fall",
            11:"Fall",
            12:"Winter"}

def makeSeason(year):
    print(year)
    se = pd.read_csv("weather" + str(year) + ".csv")
    se = se.join(stations,on="name")
    se["year"] = se["year"] + se["mo"] // 12
    se  = se[se["year"] <  2020]
    se["season"] = se["mo"].map(seasons)
    return se.groupby(["CommonName","year","season"]).mean()[["temp","max","min","prcp"]]

def makeSeasonSum(year):
    print(year)
    se = pd.read_csv("weather" + str(year) + ".csv")
    se = se.join(stations,on="name")
    se["year"] = se["year"] + se["mo"] // 12
    se  = se[se["year"] <  2020]
    se["season"] = se["mo"].map(seasons)
    return se.groupby(["CommonName","year","season"]).sum()[["temp","max","min","prcp"]]

In [9]:
df = pd.DataFrame()
df2 = pd.DataFrame()
for n in range(1960,2020,10):
    df = df.append(makeSeason(n))
    df2 = df2.append(makeSeasonSum(n))
df = df[~df.index.duplicated(keep='last')]
df2 = df2[~df2.index.duplicated(keep='last')]
#df.to_csv("seasonalWeather.csv")

1960
1960
1970
1970
1980
1980
1990
1990
2000
2000
2010
2010

In [104]:
ses = makeSeason(2010)
ses

2010

                             temp        max        min      prcp
CommonName year season
Anchorage  2010 Fall    38.359341  45.294505  31.583516  0.045824
                Spring  37.447826  46.100000  28.894565  0.016413
                Summer  55.557609  62.983696  49.597826  0.080543
                Winter  22.230508  28.488136  14.866102  0.024576
           2011 Fall    34.380220  41.206593  27.432967  0.051209
...                           ...        ...        ...       ...
Vancouver  2018 Winter  39.076404  44.410112  33.740449  0.236629
           2019 Fall    50.403297  57.583516  43.998901  0.142857
                Spring  50.091304  58.118478  41.858696  0.075000
                Summer  64.242391  73.003261  55.686957  0.035435
                Winter  38.707778  44.863333  32.766667  0.206222

[440 rows x 4 columns]

In [82]:
se2 = pd.read_csv("weather2010.csv")
se2.join(stations,on="name")

,stn,year,mo,da,temp,max,min,prcp,name,Year/Month/Day,lat,lon,state,usaf,CommonName
0,722950,2010,12,23,55.8,63.0,52.0,1.21,LOS ANGELES INTERNATIONAL AIR,2010-12-23,33.938,-118.389,CA,722950,Los Angeles
1,722950,2010,12,17,55.0,61.0,53.1,0.12,LOS ANGELES INTERNATIONAL AIR,2010-12-17,33.938,-118.389,CA,722950,Los Angeles
2,722950,2010,12,22,58.2,62.1,54.0,0.67,LOS ANGELES INTERNATIONAL AIR,2010-12-22,33.938,-118.389,CA,722950,Los Angeles
3,722950,2010,5,19,59.0,64.9,55.0,0.00,LOS ANGELES INTERNATIONAL AIR,2010-05-19,33.938,-118.389,CA,722950,Los Angeles
4,722950,2010,2,17,63.6,80.1,54.0,0.00,LOS ANGELES INTERNATIONAL AIR,2010-02-17,33.938,-118.389,CA,722950,Los Angeles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40153,725970,2019,6,12,81.9,100.0,59.0,0.00,ROGUE VALLEY INTL-MEDFORD AIR,2019-06-12,42.375,-122.877,OR,725970,Oregon
40154,725970,2019,7,18,76.2,89.1,57.9,0.00,ROGUE VALLEY INTL-MEDFORD AIR,2019-07-18,42.375,-122.877,OR,725970,Oregon
40155,725970,2019,6,27,60.3,75.9,46.0,0.00,ROGUE VALLEY INTL-MEDFORD AIR,2019-06-27,42.375,-122.877,OR,725970,Oregon
40156,725970,2019,7,21,75.9,95.0,53.1,0.00,ROGUE VALLEY INTL-MEDFORD AIR,2019-07-21,42.375,-122.877,OR,725970,Oregon
40157,725970,2019,8,15,77.1,95.0,60.1,0.00,ROGUE VALLEY INTL-MEDFORD AIR,2019-08-15,42.375,-122.877,OR,725970,Oregon

In [10]:
df["sumPrc"]

                          temp     max     min   prcp
CommonName year season
Boston     1960 Fall    5001.0  5701.4  4460.6   0.00
                Spring  4246.2  4994.6  3693.5   0.00
                Summer  6522.1  7371.6  5848.3   0.00
                Winter  1954.8  2363.4  1648.5   0.00
           1961 Fall    5146.8  5875.6  4604.4   0.00
...                        ...     ...     ...    ...
Vancouver  2018 Winter  3477.8  3952.5  3002.9  21.06
           2019 Fall    4586.7  5240.1  4003.9  13.00
                Spring  4608.4  5346.9  3851.0   6.90
                Summer  5910.3  6716.3  5123.2   3.26
                Winter  3483.7  4037.7  2949.0  18.56

[2259 rows x 4 columns]